.background {
	padding: 0;	
	background-color: #EFEFEF;
}

.header {
	background-color: #2a2a2a;
}
.grid {
	padding: 0;
	
	img {
		max-width: 100%;
	}
}

.jumbotron {
	margin: 0;
	padding: 5rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-color: white;
}

.card-custom {
	height: 100%;
	padding: 1.5rem !important;
}